:root{
  --header: #243119;
  --background: #C9F2C7;
  --olive: #96BE8C;
}

.App {
  background-color: var(--background);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App > h1{
  margin: 45vh auto 0 auto;
  font-size: 30px;
  color: var(--header);
}

.search-container{
   width: 50%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.search-input{
  width: 90%;
  height: 30px;
  border: 0.3px solid black;
  border-radius: 20px;
}

.search-container > i{
  border-radius: 50%;
}

.search-container > i:hover{
  cursor: pointer;
  transform: scale(1.3);
}

.App > .suggestions{
  width: 50%;
}

.suggestions > .suggest{
  width: 90%;
  margin-top: 5px;
  color: var(--header);
  font-weight: bold;
  border: 1px solid var(--olive);
  border-radius: 50px;
  text-align: center;
}

.suggestions > .suggest:hover{
  cursor: pointer;
  background-color: var(--olive);
  transform: scale(1.2);
}